# Dependencies
node_modules/
frontend/node_modules/

# Local Environment & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Outputs
artifacts/
cache/
frontend/.next/
frontend/out/
dist/

# Hardhat/Solidity Specifics
typechain/
typechain-types/
coverage/
coverage.json
/ignition/deployments/chain-31337

# OS Specifics
.DS_Store
Thumbs.db